body {
  margin: 0;
}
header, footer, article, aside {
  color: #fff;
  min-height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
header, footer {
  background-color: #7dbcea;
}
aside {
  background-color: #3ba0e9;
}
article {
  min-height: 300px;
  background-color: #108ee9;
}